/*
 * TelstraMessagingAPILib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */
package com.telstra.tapi.controllers;

import java.io.*;
import java.util.*;
import java.util.concurrent.*;
import com.fasterxml.jackson.core.JsonProcessingException;
import com.fasterxml.jackson.core.type.TypeReference;

import com.telstra.tapi.*;
import com.telstra.tapi.models.*;
import com.telstra.tapi.exceptions.*;
import com.telstra.tapi.http.client.HttpClient;
import com.telstra.tapi.http.client.HttpContext;
import com.telstra.tapi.http.request.HttpRequest;
import com.telstra.tapi.http.response.HttpResponse;
import com.telstra.tapi.http.response.HttpStringResponse;
import com.telstra.tapi.http.client.APICallBack;
import com.telstra.tapi.controllers.syncwrapper.APICallBackCatcher;

public class ProvisioningController extends BaseController {    
    //private static variables for the singleton pattern
    private static Object syncObject = new Object();
    private static ProvisioningController instance = null;

    /**
     * Singleton pattern implementation 
     * @return The singleton instance of the ProvisioningController class 
     */
    public static ProvisioningController getInstance() {
        synchronized (syncObject) {
            if (null == instance) {
                instance = new ProvisioningController();
            }
        }
        return instance;
    }

    /**
     * Delete Subscription
     * @return    Returns the void response from the API call 
     */
    public void deleteSubscription(
    ) throws Throwable {
        APICallBackCatcher<Object> callback = new APICallBackCatcher<Object>();
        deleteSubscriptionAsync(callback);
        if(!callback.isSuccess())
            throw callback.getError();
        callback.getResult();
    }

    /**
     * Delete Subscription
     * @return    Returns the void response from the API call 
     */
    public void deleteSubscriptionAsync(
                final APICallBack<Object> callBack
    ) {
        //the base uri for api requests
        String _baseUri = Configuration.getBaseUri();
        
        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri);
        _queryBuilder.append("/messages/provisioning/subscriptions");
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>() {
            private static final long serialVersionUID = 5110126337912558679L;
            {
                    put( "user-agent", "APIMATIC 2.0" );
                    put( "Authorization", OAuthManager.getInstance().getAuthorizationHeader());
            }
        };

        //prepare and invoke the API call request to fetch the response
        final HttpRequest _request = getClientInstance().delete(_queryUrl, _headers, null);

        //invoke the callback before request if its not null
        if (getHttpCallBack() != null)
        {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        //invoke request and get response
        Runnable _responseTask = new Runnable() {
            public void run() {
                //make the API call
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //Error handling using HTTP status codes
                            int _responseCode = _response.getStatusCode();
                            if (_responseCode == 400)
                                throw new ErrorErrorError62ErrorException("Invalid or missing request parameters", _context);

                            if (_responseCode == 401)
                                throw new ErrorErrorError62ErrorException("Invalid or no credentials passed in the request", _context);

                            if (_responseCode == 403)
                                throw new ErrorErrorError62ErrorException("Authorization credentials passed and accepted but account does not have permission", _context);

                            if (_responseCode == 404)
                                throw new ErrorErrorError62ErrorException("The requested URI does not exist", _context);

                            if ((_responseCode < 200) || (_responseCode > 208))
                                throw new ErrorErrorError62ErrorException("An internal error occurred when processing the request", _context);

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //let the caller know of the success
                            callBack.onSuccess(_context, _context);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)
                        {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Create Subscription
     * @param    body    Required parameter: A JSON payload containing the required attributes
     * @return    Returns the ProvisionNumberResponse response from the API call 
     */
    public ProvisionNumberResponse createSubscription(
                final ProvisionNumberRequest body
    ) throws Throwable {
        APICallBackCatcher<ProvisionNumberResponse> callback = new APICallBackCatcher<ProvisionNumberResponse>();
        createSubscriptionAsync(body, callback);
        if(!callback.isSuccess())
            throw callback.getError();
        return callback.getResult();
    }

    /**
     * Create Subscription
     * @param    body    Required parameter: A JSON payload containing the required attributes
     * @return    Returns the void response from the API call 
     */
    public void createSubscriptionAsync(
                final ProvisionNumberRequest body,
                final APICallBack<ProvisionNumberResponse> callBack
    ) throws JsonProcessingException {
        //the base uri for api requests
        String _baseUri = Configuration.getBaseUri();
        
        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri);
        _queryBuilder.append("/messages/provisioning/subscriptions");
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>() {
            private static final long serialVersionUID = 5479215441719992945L;
            {
                    put( "user-agent", "APIMATIC 2.0" );
                    put( "accept", "application/json" );
                    put( "content-type", "application/json" );
                    put( "Authorization", OAuthManager.getInstance().getAuthorizationHeader());
            }
        };

        //prepare and invoke the API call request to fetch the response
        final HttpRequest _request = getClientInstance().postBody(_queryUrl, _headers, APIHelper.serialize(body));

        //invoke the callback before request if its not null
        if (getHttpCallBack() != null)
        {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        //invoke request and get response
        Runnable _responseTask = new Runnable() {
            public void run() {
                //make the API call
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //Error handling using HTTP status codes
                            int _responseCode = _response.getStatusCode();
                            if (_responseCode == 400)
                                throw new ErrorErrorError62ErrorException("Invalid or missing request parameters", _context);

                            if (_responseCode == 401)
                                throw new ErrorErrorError62ErrorException("Invalid or no credentials passed in the request", _context);

                            if (_responseCode == 403)
                                throw new ErrorErrorError62ErrorException("Authorization credentials passed and accepted but account does not have permission", _context);

                            if (_responseCode == 404)
                                throw new ErrorErrorError62ErrorException("The requested URI does not exist", _context);

                            if ((_responseCode < 200) || (_responseCode > 208))
                                throw new ErrorErrorError62ErrorException("An internal error occurred when processing the request", _context);

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //extract result from the http response
                            String _responseBody = ((HttpStringResponse)_response).getBody();
                            ProvisionNumberResponse _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<ProvisionNumberResponse>(){});

                            //let the caller know of the success
                            callBack.onSuccess(_context, _result);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (IOException ioException) {
                            //let the caller know of the caught IO Exception
                            callBack.onFailure(_context, ioException);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)
                        {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Get Subscription
     * @return    Returns the ProvisionNumberResponse response from the API call 
     */
    public ProvisionNumberResponse getSubscription(
    ) throws Throwable {
        APICallBackCatcher<ProvisionNumberResponse> callback = new APICallBackCatcher<ProvisionNumberResponse>();
        getSubscriptionAsync(callback);
        if(!callback.isSuccess())
            throw callback.getError();
        return callback.getResult();
    }

    /**
     * Get Subscription
     * @return    Returns the void response from the API call 
     */
    public void getSubscriptionAsync(
                final APICallBack<ProvisionNumberResponse> callBack
    ) {
        //the base uri for api requests
        String _baseUri = Configuration.getBaseUri();
        
        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri);
        _queryBuilder.append("/messages/provisioning/subscriptions");
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>() {
            private static final long serialVersionUID = 5100770655859097233L;
            {
                    put( "user-agent", "APIMATIC 2.0" );
                    put( "accept", "application/json" );
                    put( "Authorization", OAuthManager.getInstance().getAuthorizationHeader());
            }
        };

        //prepare and invoke the API call request to fetch the response
        final HttpRequest _request = getClientInstance().get(_queryUrl, _headers, null);

        //invoke the callback before request if its not null
        if (getHttpCallBack() != null)
        {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        //invoke request and get response
        Runnable _responseTask = new Runnable() {
            public void run() {
                //make the API call
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //Error handling using HTTP status codes
                            int _responseCode = _response.getStatusCode();
                            if (_responseCode == 400)
                                throw new ErrorErrorError62ErrorException("Invalid or missing request parameters", _context);

                            if (_responseCode == 401)
                                throw new ErrorErrorError62ErrorException("Invalid or no credentials passed in the request", _context);

                            if (_responseCode == 403)
                                throw new ErrorErrorError62ErrorException("Authorization credentials passed and accepted but account does not have permission", _context);

                            if (_responseCode == 404)
                                throw new ErrorErrorError62ErrorException("The requested URI does not exist", _context);

                            if ((_responseCode < 200) || (_responseCode > 208))
                                throw new ErrorErrorError62ErrorException("An internal error occurred when processing the request", _context);

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //extract result from the http response
                            String _responseBody = ((HttpStringResponse)_response).getBody();
                            ProvisionNumberResponse _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<ProvisionNumberResponse>(){});

                            //let the caller know of the success
                            callBack.onSuccess(_context, _result);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (IOException ioException) {
                            //let the caller know of the caught IO Exception
                            callBack.onFailure(_context, ioException);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)
                        {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

}